<div id="sidebar">
    <div class="inner">

        <!-- Search >
        <section id="search" class="alt">
            <form method="post" action="#">
                <input type="text" name="query" id="query" placeholder="Search" />
            </form>
        </section -->

        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>Navegue pelo Site</h2>
            </header>
            <ul>
                <li><a href="{{page.baseurl}}">Início</a></li>
                <li><a href="{{page.baseurl}}quem-somos">Quem Somos</a></li>
                <li><a href="{{page.baseurl}}residencia">Residência</a></li>
                <li><a href="{{page.baseurl}}estudante">Sou Estudante</a></li>
                <li><a href="{{page.baseurl}}profissional">Sou Profissional</a></li>
                <li><a href="{{page.baseurl}}desp">Direção Espiritual</a></li>
                <li><a href="{{page.baseurl}}ajude">Quero Ajudar</a></li>
                <li><a href="http://clube14bis.org.br" target="_blank">Clube 14 Bis</a></li>
                <li><a href="{{page.baseurl}}links-uteis">Links Úteis</a></li>
            </ul>
        </nav>
        
        <!-- Contato -->
        <section>
            <header class="major">
                <h2>Contato</h2>
            </header>
            <p>Fale conosco através dos links abaixo</p>
            <ul class="contact">
                <li class="icon solid fa-phone"><a href="tel:1239438858" >(12) 3943-8858</a></li>
                <li class="icon solid fa-envelope"><a href="mailto:contato@esplanada.org.br" >contato@esplanada.org.br</a></li>
                <li class="icon solid fa-home">Rua Teopompo de Vasconcelos, 86<br />
                Vila Adyana, São José dos Campos - SP, 12243-830</li>
                <li class="icon solid fa-map-marker-alt"><a href="https://goo.gl/maps/TF6zhZJwWJYVSrEd9" target="_blank">Como chegar</a></li>
                <li><a href="{{page.baseurl}}contato#ancora-contato" class="button primary big">Enviar Mensagem</a></li>
            </ul>

<!-- /link -->
<div class="box">
    <h3><a href="{{page.baseurl}}link" >Fique atualizado &nbsp; <span class="icon solid brands fa-whatsapp"></span></a></h3>
    <p>Você pode receber no seu bolso as informações sobre as atividades realizadas no Centro Cultural Esplanada. <a href="{{page.baseurl}}link" >Quero Receber</a></p>
</div>

        </section>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; Centro Cultural Esplanada. Todos os Direitos Reservados.</p>
        </footer>

    </div>
</div>
