/*
    CSS que adiciona novos estilos (diferentes do template HTML UP)
 */
.button-top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7f1416;
    border-radius: 5px;
    position: fixed;
    height: 50px;
    width: 50px;
    bottom: 30px;
    right: 30px;
    transform: translateX(100px);
    color: #ffffff;
    cursor: pointer;
    user-select: none;
    box-shadow:
        0 3px 6px rgb(0 0 0 / 16%),
        0 3px 6px rgb(0 0 0 / 23%);
}

    .button-top > img {
        width: 20px;
    }

    .button-top.is-visible {
        transform: translateX(0);
    }

    @media (max-width: 480px) {
        .button-top  {
            bottom: 10px;
            right: 10px;
        }
    }


/*
    CSS que customiza o App de consulta de livros
*/
.app-livros {}

    .app-livros .sc-gZMcBi,
    .app-livros .sc-VigVT {
        /* Campo de filtro e seletor de biblioteca */
        height: 3em;
    }

    .app-livros .sc-gqjmRU {
        /* Botão de pesquisar */
        background-color: #7f1416;
        color: white !important;
    }

    .app-livros h2 {
        /* Título do livro */
        margin-bottom: 0;
    }

    .app-livros .sc-bxivhb {
        /* Autor do livro */
        margin-top: 16px;
    }

    .app-livros p {
        /* Código do livro */
        margin-bottom: 0;
    }

    .app-livros .sc-bZQynM {
        /* Área com o status de empréstimo e código do livro */
        margin-top: 0;
    }

    .app-livros .sc-jzJRlG {
        /* Modal de detalhes do livro */
        /* Aumenta o z-index para sobrepor o menu do site */
        z-index: 10001;
    }