<!DOCTYPE HTML>
<html>

	<head>
		<title>{{ page.title }}</title>
		<meta charset="utf-8" />
		<meta name="description" content="Centro do Opus Dei para homens em São José dos Campos, São Paulo, Brasil.">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{page.baseurl}}assets/css/main.css" />
	
    <!-- jQuery 1.8 or later, 33 KB -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Fotorama from CDNJS, 19 KB -->
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>

		<!-- Meta Tags Generated via https://www.opengraph.xyz -->
		<!-- HTML Meta Tags -->
		<title>{{ page.og-title }}</title>
		<meta name="description" content="{{ page.og-description }}">

		<!-- Facebook Meta Tags -->
		<!-- meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}" -->
		<meta property="og:url" content="{{ page.og-url }}{{ page.url }}">
		<meta property="og:type" content="website">
		<meta property="og:title" content="{{ page.og-title }}">
		<meta property="og:description" content="{{ page.og-description }}">
		<!-- meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/assets/images/a_ogp/{{ page.og-image }}" -->
		<meta property="og:image" content="{{ page.og-url }}/assets/images/a_ogp/{{ page.og-image }}">

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="{{ site.url }}">
		<meta property="twitter:url" content="{{ page.og-url }}{{ page.url }}">
		<meta name="twitter:title" content="{{ page.og-title }}">
		<meta name="twitter:description" content="{{ page.og-description }}">
		<meta name="twitter:image" content="{{ page.og-url }}/assets/images/a_ogp/{{ page.og-image }}">
		
	</head>

	<body class="is-preload">

		<!-- Wrapper -->
		<div id="wrapper">

				<!-- Main -->
				<div id="main">
					<div class="inner">

						<!-- Header -->
						{% include header.html %}

						{{ content }}

					</div>
				</div>

			<!-- Sidebar -->
			{% include sidebar.html %}

		</div>

		<!-- Scripts -->
		<script src="{{page.baseurl}}assets/js/jquery.min.js"></script>
		<script src="{{page.baseurl}}assets/js/browser.min.js"></script>
		<script src="{{page.baseurl}}assets/js/breakpoints.min.js"></script>
		<script src="{{page.baseurl}}assets/js/util.js"></script>
		<script src="{{page.baseurl}}assets/js/main.js"></script>

	</body>
</html>